[build]
  command = "CI= npm install && pip install -r requirements.txt"
  functions = "functions"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/api"
  status = 200
  force = true
